[package]
name = "shift-client"
version = "0.0.0"
authors = [ "adumbidiot <nathaniel.daniel23@outlook.com>" ]
edition = "2018"
license = "MIT/Apache-2.0"

[[bin]]         
name = "shift-client"    
required-features = [ "cli" ]

[dependencies]
reqwest = { version = "0.11.9", features = [ "cookies" ] }
scraper = { version = "0.12.0", default-features = false }
serde = { version = "1.0.136", features = [ "derive" ] }
serde_json = "1.0.79"
shift-orcz = { path = "lib/shift-orcz", optional = true }
thiserror = "1.0.30"
tokio = { version = "1.17.0", features = [ "time" ] }

[dev-dependencies]
tokio = { version = "1.17.0", features = [ "macros" ] }

[features]
default = []
cli = [ 
    "shift-orcz", 
    "tokio/macros",
    "tokio/rt-multi-thread",
]

[profile.release]
lto = "fat"
codegen-units = 1

[workspace]
members = [ 
    "lib/shift-orcz",
]
