[package]
name = "shift-client"
version = "0.0.1"
authors = [ "adumbidiot <nathaniel.daniel23@outlook.com>" ]
edition = "2018"
license = "MIT/Apache-2.0"

[[bin]]         
name = "shift-client"    
required-features = [ "cli" ]

[dependencies]
reqwest = { version = "0.11.1", features = [ "cookies" ] }
select = "0.5.0"
serde = { version = "1.0.123", features = [ "derive" ] }
serde_json = "1.0.62"
shift-orcz = { path = "lib/shift-orcz", optional = true }
tokio = { version = "1.2.0", features = [ "time" ] }

[dev-dependencies]
tokio = { version = "1.2.0", features = [ "macros" ] }

[features]
default = []
cli = [ "shift-orcz", "tokio/macros" ]

[workspace]
members = [ "lib/shift-orcz" ]
