[package]
name = "shift-client"
version = "0.0.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
once_cell = "1.17.1"
reqwest = { version = "0.11.16", default-features = false, features = [ "cookies", "json" ] }
scraper = { version = "0.16.0", default-features = false }
serde = { version = "1.0.155", features = [ "derive" ] }
serde_json = "1.0.95"
thiserror = "1.0.38"
tokio = { version = "1.28.0", features = [ "time" ] }

[dev-dependencies]
tokio = { version = "1.28.0", features = [ "macros" ] }

[features]
default = [ "reqwest/rustls-tls" ]

native-tls = [ "reqwest/native-tls" ]
rustls-tls = [ "reqwest/rustls-tls" ]
